@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
body {
    font-family: 'Anton', sans-serif;
    font-weight: 300;
    background: #c5dade;
    color: rgb(0, 190, 237);
    overflow: hidden;
}
h1, h2, h3, h4, h5, h6
{
    font-weight: 300;
}
wrapper {
    display: flex;
    flex-direction: row;
    }
.left{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    height: 100;
}
.right{
    flex: 1; 
}
